.ant-layout-header{
    display: flex;
    justify-content: space-between;
    color: #fff!important;
    div:first-child{
        font-size: 26px;
    }
    div:nth-child(2) {
        font-size: 20px;
    }
    div:last-child{
        padding-left: 20px;
    }
}
.articleStyle{
    min-height: 500px;
}
